<div class="container_fuluid other-images" style="width: 100%; min-height: 600px;">
  <!--画面幅 576px 以上は以下の表示-->
  <div class="d-none d-sm-block">
    <div class="row justify-content-center" style="height: 500px;">
      <div class="col-xl-6 col-lg-7 col-md-9 col-sm-10 beige-box my-5">
        <div class="row mt-5 mb-3 justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-9 col-sm-8 m-4">
            <h3 class="text-center border-bottom border-green-10"><strong>本当に退会しますか？</strong></h3>
          </div>
        </div>
        <div class="row mb-5 justify-content-center">
          <div class="col-md-9 col-sm-11 m-4 text-center">
            <span>
              退会すると会員登録情報や<br>
              これまでの日記が閲覧できなくなります。<br>
              <br>
              退会する場合は、<br>
              「退会する」をクリックしてください。
            </span>
          </div>
        </div>
        <div class="row my-4 justify-content-between">
          <div class="col-md-5 col-sm-4 m-4 text-center">
            <%= link_to "退会しない", my_page_path, class: "btn btn-pink2 font-weight-bold text-green" %>
          </div>
          <div class="col-md-5 col-sm-4 m-4 text-center">
            <%= link_to "退会する", destroy_user_path, method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-green font-weight-bold text-lightpink" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--画面幅 576px 未満は以下の表示-->
  <div class="d-block d-sm-none">
    <div class="row justify-content-center">
      <div class="beige-box my-5 mx-0auto py-5 px-4" style="width: 80%;">
        <div class="row justify-content-center">
          <div class="col-12">
            <h4 class="text-center border-bottom border-green-10">本当に退会しますか？</h4>
            <div class="row mb-4 justify-content-center">
              <div class="col-11 m-4 text-center">
                <span>
                  退会すると会員登録情報や<br>
                  これまでの日記が<br>
                  閲覧できなくなります。<br>
                  <br>
                  退会する場合は、<br>
                  「退会する」をクリックしてください。
                </span>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 text-center">
                <%= link_to "退会しない", my_page_path, class: "btn btn-pink2 font-weight-bold text-green" %>
              </div>
              <div class="col-5 text-center">
                <%= link_to "退会する", destroy_user_path, method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-green font-weight-bold text-lightpink" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>