<h5><strong>本当に退会しますか？</strong></h5>

<span>
  退会すると、会員登録情報や<br>
  これまでの日記が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
</span>

<%= link_to "退会しない", my_page_path %>

<%= link_to "退会する", destroy_user_path, method: :delete, "data-confirm" => "本当に退会しますか？" %>