<div class="container_fuluid" style="width: 100%; min-height: 600px;">
  <div class="top-bg-image jumbotron position-relative" style="width: 100%; min-height: 600px;">
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <div class="top-box text-center" style="min-height: 350px;">
          <div class="row mt-5">
            <div class="col-lg-12">
              <h2 class="font-weight-bold">ようこそ、Loveドッグダイアリーへ！</h2>
              <span class="font-weight-bold mt-3">Loveドッグダイアリーでは、<br>
              わんちゃんとのお散歩ルートや距離、散歩時間、速度<br>
              その時に撮った写真、その日の健康状態などを<br>
              日記として登録できます<br></span>
            </div>
          </div>
          <div class="row mt-5 justify-content-lg-center">
            <div class="col-lg-2 px-0 border">
              <%= link_to "新規登録", new_user_registration_path %>
            </div>
            <div class="col-lg-2 px-0">
              <%= link_to "ログイン", new_user_session_path %>
            </div>
            <div class="col-lg-2 px-0">
              <%= link_to "地図見本", about_path(path_id: 0) %>
            </div>
            <div class="col-lg-2 px-0">
              <%= link_to "日記見本", about_path(path_id: 1) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>