<h1>トップページ</h1>
<p>ようこそ、Loveドッグダイアリーへ！</p>
<span>わんちゃんとの思い出を日記に残したい方はこちら<br>
↓　↓　↓</span>

<li>
  <%= link_to "Loveドッグダイアリーについて", my_page_path %>
</li>
<li>
  <%= link_to "新規登録", new_user_registration_path %>
</li>
<li>
  <%= link_to "ログイン", new_user_session_path %>
</li>