@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-pink {
  background-color: #FFABCE !important;
}

.navbar-dark-pink {
  background-color: #FFD5EC !important;
}

.top-bg-image {
  background-image: url("../images/top-bg.jpg");
    background-position: left;
  background-repeat: no-repeat;
  background-size: 100% 600px;
}

.top-box {
  background:rgba(255,233,232,0.5);
  text-align:center;
  padding:15px 0;
}

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 80%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 4px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 100px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FFBEDA;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #EEEEEE;
  }
  .next-month {
    background: #EEEEEE;
  }
  .current-month {
    // background: #FFD5EC
  }

  .has-events {}
}
