@import '~bootstrap/scss/bootstrap';
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// 共通CSS
.border-pink {
  border-color: #FFD5EC !important;
}
.border-green {
  border-color: #CCFFCC !important;
}
.border-beige {
  border-color: rgba(242,227,213,1) !important;
}
.border-pink-medium {
  border-color: #FFD5EC !important;
  border-bottom-width: medium !important;
}
.border-green-medium {
  border-color: #CCFFCC !important;
  border-bottom-width: medium !important;
}
.border-pink-10 {
  border-color: #FFD5EC !important;
  border-bottom-width: 10px !important;
}
.border-green-10 {
  border-color: #CCFFCC !important;
  border-bottom-width: 10px !important;
}
.text-pink {
  color: #EA3F98 !important;
}
.text-lightpink {
  color: #EB6AB1 !important;
}
.text-green {
  color: #CCFFCC !important;
}
.box-5 {
  background: rgba(250,250,250,0.5);
  padding: 0;
}
.box-8 {
  background: rgba(250,250,250,0.8);
  padding: 0;
}
.beige-box {
  background: rgba(242,227,213,0.8);
  padding: 0;
}
.btn-pink {
  background-color: #E9B4D0 !important;
}
.btn-lightpink {
  background-color: #F2CED1 !important;
}
.btn-pink2 {
  background-color: #EB6AB1;
}
.btn-green {
  background-color: #CCFFCC !important;
}

// ページネーションここから
.pagination {
  justify-content: center;
}
.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}
.current {
  font-weight: bold;
}
// ページネーションここまで
// 共通CSSここまで

// ハンバーガーメニュー
 .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(51, 48, 46, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 	width: 2em;
 	height: 2em;
 }

.navbar-toggler {
  position: absolute;
  right: 10%;
  top: 20%;
}
// ハンバーガーメニューここまで

// トップ画面
.top-bg-image {
  background-image: url("../images/top-bg.jpg");
  background-size: cover;
  background-position: bottom 0px right 0px;
  background-repeat: no-repeat;
  min-height: 600px;
}

.top-box {
  background:rgba(255,233,232,0.5);
  text-align:center;
  padding: 0;
}

.top-balloon {
  position: relative;
  width: 180px;
  margin: 20px 0 20px 40px;
  padding: 25px;
  background: #C6F7D5;
  border-radius: 30px;
}

.top-balloon:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: -20px;
  background: #C6F7D5;
  border-radius: 50%;
}

.top-balloon:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: -9px;
  background: #C6F7D5;
  border-radius: 50%;
}
.top-balloon p {
  margin: 0;
  padding: 0;
}

.top-balloon2 {
  position: relative;
  width: 180px;
  margin: 20px 0 20px 40px;
  padding: 25px;
  background: #C6F7D5;
  border-radius: 30px;
}

.top-balloon2:before {
  content: "";
  position: absolute;
  right: -38px;
  width: 13px;
  height: 12px;
  bottom: -20px;
  background: #C6F7D5;
  border-radius: 50%;
}

.top-balloon2:after {
  content: "";
  position: absolute;
  right: -24px;
  width: 20px;
  height: 18px;
  bottom: -9px;
  background: #C6F7D5;
  border-radius: 50%;
}
.top-balloon2 p {
  margin: 0;
  padding: 0;
}
// トップ画面ここまで

// aboutページの背景画像
.about-image{
  background-image: url("../images/dog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// マイページの背景画像
.mypage-image {
  background-image: url("../images/1393774.jpg");
  background-size: 50%;
  background-position: top 0px right 0px;
  min-height: 600px;
}

// カレンダー画面の背景画像
.diary-image {
  background-image: url("../images/prank.jpg");
  background-size: 50%;
  background-position: top 0px right 0px;
  min-height: 600px;
}

// シンプルカレンダーここから
.simple-calendar {
  a {
    color: #28A745;
  }

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFD5EC;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    background: #FFFFFF;
    padding: 4px;
    border-bottom: 2px solid #FFD5EC;
    border-collapse: collapse;
    border-left: 1px solid #FFD5EC;
    border-right: 1px solid #FFD5EC;
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid #ddd;
    border-top-color: #FFD5EC;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #FFD5EC;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #FFD5EC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #FFD5EC;
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 100px;
  }

  .prev-month {
    background: #EEEEEE;
  }
  .next-month {
    display: none;
  }
  .current-month {
    background: #FFFFFF
  }

}
// シンプルカレンダーここまで

// 写真一覧のタイトルを省略表示
.photo-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 日記画面の背景画像
.diaries-image0 {
  background-image: url("../images/pad-gray.jpg");
  background-size: 50%;
  background-position: top 0px right 0px;
  min-height: 600px;
}

// 紀州犬の画像
.diaries-image1 {
  background-image: url("../images/kishuu.jpg");
  background-size: cover;
  background-position: top 0px right 0px;
  background-repeat: no-repeat;
}

// ダックスフンドの画像
.diaries-image2 {
  background-image: url("../images/dachshund.jpg");
  background-size: cover;
  background-position: top 0px;
  background-repeat: no-repeat;
}

// 日記のメモのスクロールバー　ここから
.diary-memo {
  overflow: scroll;
}

.diary-memo::-webkit-scrollbar {
  width: 1;
  height: 0;
}

.diary-memo::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

.diary-memo::-webkit-scrollbar-thumb {
  background-color: #F2CED1;
}
// 日記のメモのスクロールバー　ここまで

// strolls/showページの背景画像
.map-image {
  background-image: url("../images/pad.jpg");
  background-size: cover;
  background-position: bottom 0px right 0px;
  min-height: 600px;
}

// その他のページの背景画像
.other-images {
  background-image: url("../images/pad-plaid.jpg");
  background-size: cover;
  background-position: bottom 0px right 0px;
  min-height: 600px;
}

// 文字量多い時のスクロールバー
.scroll {
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  width: 1;
  height: 0;
}

.scroll::-webkit-scrollbar-track {
  background-color: #F2E3D5;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #F2B5A7;
}
// 文字量多い時のスクロールバーここまで

.footer-pink {
  background-color: #FFD4E4 !important;
}


// test
.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}