






<h1>散歩情報編集画面</h1>
<!--const dakota = {lat: 40.7767644, lng: -73.9761399};-->
<!--  const frick = {lat: 40.771209, lng: -73.9673991};-->
<!--  // The markers for The Dakota and The Frick Collection-->
<!--  var mk1 = new google.maps.Marker({position: dakota, map: map});-->
<!--  var mk2 = new google.maps.Marker({position: frick, map: map});-->

  <% @pins.each do |pin| %>
    const road.pin = {lat: <%= pin.latitude %>, lng: <%= pin.longitude %>};

  // The markers for The Dakota and The Frick Collection
    var mk = new google.maps.Marker({position: road.pin, map: map});


  <% end %>