<p>お散歩ルート一覧</p>
<% if @strolls == presence %>
  <span>ルート名をクリックすると、地図で確認ができます<br>
  お散歩ルートの追加は日記から可能です</span>
<% else %>
  <span>日記からお散歩ルートを登録すると一覧に表示されます</span>
<% end %>

<% @strolls.each do |stroll| %>
  <% link_to stroll_path do %>
    <%= stroll.pins.order(updated_at: :desc).first.title %>
  <% end %>
<% end %>

<%= paginate @strolls %>
